<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>186568790705-u187ddgegjb7q53ifkvi52008bv5go43.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186568790705-u187ddgegjb7q53ifkvi52008bv5go43</string>
	<key>API_KEY</key>
	<string>AIzaSyA3-VdmvQrDDeHBiu7QtO_snHAUVT2DW6o</string>
	<key>GCM_SENDER_ID</key>
	<string>186568790705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lab9</string>
	<key>PROJECT_ID</key>
	<string>lab9-c9ce7</string>
	<key>STORAGE_BUCKET</key>
	<string>lab9-c9ce7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186568790705:ios:71a91922ae69afa3960890</string>
</dict>
</plist>